<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/quote-submit}" th:object="${qf}" method="post">
    <table>
        <tr>
            <td>Celebrity:</td>
            <td><input type="text" th:field="*{celebrity}" /></td>
            <td th:if="${#fields.hasErrors('celebrity')}" th:errors="*{celebrity}">Celebrity Name Error</td>
        </tr>
        <tr>
            <td>Quote:</td>
            <td><input type="text" th:field="*{quote}" /></td>
            <td th:if="${#fields.hasErrors('quote')}" th:errors="*{quote}">Quote Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>